sudo: required
dist: trusty

language: php

notifications:
  email: false
addons:
  apt:
    packages:
      - docker-ce
php:
  #- '5.6'
  #- '7.0'
  #- '7.1'
  - '7.2'
  #- '7.3'

services:
  - docker

cache:
  apt: true
  directories:
    - vendor
    - $HOME/.composer/cache/files
env:
  global:
    - WP_ROOT_FOLDER="/app/wordpress/"
    - WP_ADMIN_PATH="/wp-admin"
    - WP_URL="http://payplug.lndo.site"
    - WP_DOMAIN="payplug.lndo.site"
    - DB_NAME="wordpress"
    - TEST_DB_NAME="wpTests"
    - WP_TABLE_PREFIX="wp_"
    - WP_ADMIN_USERNAME="admin"
    - WP_ADMIN_PASSWORD="admin"
    - TEST_DB_NAME="wpTests"
    - TEST_DB_HOST="dbTest"
    - TEST_DB_USER="wpTests"
    - TEST_DB_PASSWORD="wpTests"
    - TEST_TABLE_PREFIX="wp_"
    # Admin access config
    - ADMIN_EMAIL="admin@payplug.lndo.site"
    - ADMIN_USERNAME=admin
    - ADMIN_PASSWORD=admin


  matrix:
    - WP_VERSION=latest WC_VERSION=2.6.14
    #- WP_VERSION=nightly WC_VERSION=2.6.14
    #- WP_VERSION=4.9.10 WC_VERSION=2.6.14
    #- WP_VERSION=4.8.9 WC_VERSION=2.6.14
    #- WP_VERSION=4.7.13 WC_VERSION=2.6.14
    #- WP_VERSION=4.6.14 WC_VERSION=2.6.14
    #- WP_VERSION=4.5.17 WC_VERSION=2.6.14
    #- WP_VERSION=4.4.18 WC_VERSION=2.6.14

before_install:
  - sudo apt-get -y update || true
  - sudo apt-get -y install cgroup-bin curl
  - curl -fsSL -o /tmp/lando-latest.deb http://installer.kalabox.io/lando-latest-dev.deb
  - sudo dpkg -i /tmp/lando-latest.deb
  - lando version

script:
  - cp .env.dist .env
  - true
  - BROWSERSTACK_KEY=$BROWSERSTACK_KEY BROWSERSTACK_USER=$BROWSERSTACK_USERNAME_REAL ./bin/travis-env.sh
  - WP_VERSION=$WP_VERSION WP_LOCALE=en_US WOOCOMMERCE_VERSION=$WC_VERSION PHP_VERSION=$(phpenv version-name) ./bin/setup-lando.sh
  - lando launch-browserstack $BROWSERSTACK_KEY
  - lando test-wpunit --verbose
  - lando test-acceptance-all --verbose
  - lando test-acceptance-browserstack-all --verbose