sudo: required

language: php

notifications:
  email: false

services:
  - mysql

addons:
  browserstack:
    username: $BROWSERSTACK_USER
    access_key: $BROWSERSTACK_KEY
    forcelocal: true
    only: payplug.localhost,443,1
  apt:
    packages:
      # required by WordPress
      - libjpeg-dev
      - libpng12-dev
      - php5-fpm
      - php5-mysql
      - nginx
  hosts:
    - paylug.localhost
cache:
  apt: true
  directories: 
     - vendor 
     - $HOME/.composer/cache/files  

# Test main supported versions of PHP against latest WP. 5.2 is min supported PHP version.
php:
  #- 5.6
  #- 7.0
  #- 7.1
  - 7.2
 
cache:
  directories:
    - $HOME/.composer/cache
env:
  global:
    - WP_FOLDER="/tmp/wordpress"
    - WP_URL="https://payplug.localhost"
    - WP_DOMAIN="payplug.localhost"
    - DB_NAME="test"
    - TEST_DB_NAME="wpTests"
    - WP_TABLE_PREFIX="wp_"
    - WP_ADMIN_USERNAME="admin"
    - WP_ADMIN_PASSWORD="admin"
  matrix:
    # WC 2.6.14
    - WP_VERSION=latest WC_VERSION=2.6.14
    #- WP_VERSION=4.8.6  WC_VERSION=2.6.14
    #- WP_VERSION=4.7.10 WC_VERSION=2.6.14
    #- WP_VERSION=4.6.11 WC_VERSION=2.6.14
    #- WP_VERSION=4.5.14 WC_VERSION=2.6.14
    #- WP_VERSION=4.4.15 WC_VERSION=2.6.14

    # WC 3.3.5
    #- WP_VERSION=latest WC_VERSION=3.3.5
    #- WP_VERSION=4.7.10 WC_VERSION=3.3.5
    #- WP_VERSION=4.8.6 WC_VERSION=3.3.5
    
before_install:
  # create the databases that will be used in the tests
  - mysql -e "create database IF NOT EXISTS $DB_NAME;" -uroot
  - mysql -e "create database IF NOT EXISTS $TEST_DB_NAME;" -uroot
  # set up folders
  - mkdir -p $WP_FOLDER
  - mkdir tools
  # install wp-cli in the `tools` folder
  - wget https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -P $(pwd)/tools/
  - chmod +x tools/wp-cli.phar && mv tools/wp-cli.phar tools/wp
  # append the `tools` folder to the PATH
  - export PATH=$PATH:$(pwd)/tools
  # prepend the `vendor/bin` folder the PATH
  - export PATH=vendor/bin:$PATH

install:
  - composer install --prefer-dist -o --no-scripts

  # install WordPress in the `wordpress` folder
  - cd $WP_FOLDER
  - wp core download --version=$WP_VERSION
  - wp config create --dbname="$DB_NAME" --dbuser="root" --dbpass="" --dbhost="127.0.0.1" --dbprefix="$WP_TABLE_PREFIX"
  - wp core install --url="$WP_URL" --title="Test" --admin_user="$WP_ADMIN_USERNAME" --admin_password="$WP_ADMIN_PASSWORD" --admin_email="admin@$WP_DOMAIN" --skip-email
  
  # add Plugin
  - cp -r $TRAVIS_BUILD_DIR $WP_FOLDER/wp-content/plugins/payplug-woocommerce
  - cd $WP_FOLDER/wp-content/plugins/payplug-woocommerce
  - rm -rf $WP_FOLDER/wp-content/plugins/payplug-woocommerce/tests/
  - rm -rf $WP_FOLDER/wp-content/plugins/payplug-woocommerce/vendor/
  - composer install --prefer-dist -o --no-dev --no-scripts
  - cd $WP_FOLDER
  - wp plugin activate payplug-woocommerce
  
  # Install Woocommerce to needed version
  - wp plugin install --activate woocommerce --version=$WC_VERSION --force
  - wp plugin install --activate wordpress-importer
  - wget https://raw.githubusercontent.com/woocommerce/woocommerce/master/sample-data/sample_products.xml

  # Import the products
  - wp import sample_products.xml --authors=create

  # Storefront theme
  - wp theme install --activate storefront

  # flush rewrite rules to use pretty permalinks
  - wp rewrite structure '/%postname%/' --hard
  - wp plugin list
 
  # get back to the build folder
  - cd $TRAVIS_BUILD_DIR

  # copy the Nginx configuration file to the default site and replace the path and domain
  - sudo cp bin/travis-nginx-conf /etc/nginx/sites-available/$WP_DOMAIN
  - sudo sed -e "s?%WP_FOLDER%?$WP_FOLDER?g" --in-place /etc/nginx/sites-available/$WP_DOMAIN
  - sudo sed -e "s?%WP_DOMAIN%?$WP_DOMAIN?g" --in-place /etc/nginx/sites-available/$WP_DOMAIN

  # enable the WordPress installation
  - sudo ln -s /etc/nginx/sites-available/$WP_DOMAIN /etc/nginx/sites-enabled/

before_script:
  - sudo service php5-fpm restart
  - sudo service nginx restart 
  
  - codecept build
  
script:
  - pwd

  - curl -I $WP_URL

  # Run unit tests
  - codecept run wpunit

  # Front office for acceptance into multiple devices
  #- codecept run acceptance PaymentCest --env mobile_android --env desktop --env mobile_ios
  - codecept run acceptance PaymentCest:testNotConfiguredCheckoutMessage --env desktop

  # Bakcoffice for acceptance into desktop only
  #- codecept run acceptance AdminConfiguredCest --env desktop
  #- codecept run acceptance AdminNotConfiguredCest --env desktop